In [1]:
import pandas as pd
import numpy as np

### Importing Clean Data

In [2]:
train = pd.read_csv("train_clean.csv")
test =  pd.read_csv("test_clean.csv")

In [3]:
train

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_prefix,Ticket_num,Age_binned,Fare_binned
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,A/5,21171,"(20, 25]","(0.0, 10.0]"
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1,C,PC,17599,"(35, 40]","(70.0, 80.0]"
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,STON/O2.,3101282,"(25, 30]","(0.0, 10.0]"
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,1,S,None,113803,"(30, 35]","(50.0, 60.0]"
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,None,373450,"(30, 35]","(0.0, 10.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,None,211536,"(25, 30]","(10.0, 20.0]"
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,1,S,None,112053,"(15, 20]","(20.0, 30.0]"
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,0,S,W./C.,6607,"(25, 30]","(20.0, 30.0]"
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,1,C,None,111369,"(25, 30]","(20.0, 30.0]"
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,None,370376,"(30, 35]","(0.0, 10.0]"

### One hot Encoding

### Plan :
See if I leave p class as labels of 1,2,3 the prediction will get be weight by the number that is meant for class representation.
[AAh! This is called natural ordered relationships. Explained in the medium article below] 

Things I wanna do 
1. One Hot: Passenger Class 
1. One Hot: Sex
1. One Hot: Spouse and sibling 
1. One Hot: Parent and Child
1. One Hot: Embarkment
1. Cabin detail (Present/Absent)
1. Embarked
1. Ticket classification based on pre text
1. Fare Binning ?
1. Age Binning ? (6 width)

Thing I need to read on is label encoding vs one hot encoding impact on category prediction ML model.
<a href='https://medium.com/@michaeldelsole/what-is-one-hot-encoding-and-how-to-do-it-f0ae272f1179'>A good Medium Article on this.</a>

### Performing 1-7:

In [ ]:
Pclass_ohe = pd.get_dummies(train['Pclass'])
Sex_ohe = pd.get_dummies(train['Sex'])
SibSp_ohe = pd.get_dummies(train['SibSp'])
Parch_ohe = pd.get_dummies(train['Parch'])
Embarked_ohe = pd.get_dummies(train['Embarked'])
train_ohe =pd.concat([train[['PassengerId', 'Survived']],Pclass_ohe,train[['Name']],Sex_ohe, train[['Age',]],SibSp_ohe,Parch_ohe, train[['Ticket', 'Fare','Cabin']],Embarked_ohe],axis=1)
train_ohe
train_ohe.columns=['PassengerId','Survived','Pclass_1','Pclass_2','Pclass_3','Name','female','male','Age','SibSp_0','SibSp_1','SibSp_2','SibSp_3','SibSp_4','SibSp_5','SibSp_8','Parch_0','Parch_1','Parch_2','Parch_3','Parch_4','Parch_5','Parch_6','Ticket','Fare','Cabin','Boarded_C','Boarded_Q','Boarded_S','Boarded_unknown']

In [ ]:
Age_ohe = pd.get_dummies(train['Age_binned'])