##### Question Section
Questions to study ->
Can I do half the data under one model and the remaining half of the data under another model and then ensamble(check spelling) the data?

For example, Age will be a U-curve, so using polynomial modelling for it is accurate, 
where as, we have seen fare to be linear, so using MLR for linear 
and using Random forest for Categorical. This would yield best results?? What kind of limitations does this idea have ?

### Steps :

1. Select relevent columns
1. Make Dummy Variables (OHE)
1. train validation split (since we already have test set)
1. Modelling
1. Tune model using GridsearchCV
1. Test ensambles

Select from the following Models:
1. MLR
1. Lasso Regression
1. Polynomial Regression ?
1. Random Forest 
1. Support Vector Regression
1. Gradient boosted tree

In [1]:
import pandas as pd
import numpy as np

### Importing Clean Data

In [8]:
train = pd.read_csv("train_clean.csv")
test =  pd.read_csv("test_clean.csv")

In [9]:
train.drop(['Unnamed: 0','Name','Ticket','Ticket_num','Age','Fare'],inplace=True,axis=1)
test.drop(['Unnamed: 0','Name','Ticket','Ticket_num','Age','Fare'],inplace=True,axis=1)

In [10]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Cabin',
       'Embarked', 'Ticket_prefix', 'Age_binned', 'Fare_binned'],
      dtype='object')

In [11]:
train_y = train['Survived']
train = train[['PassengerId', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Cabin', 'Embarked', 'Ticket_prefix', 'Age_binned', 'Fare_binned']]

In [14]:
train.head()

,PassengerId,Pclass,Sex,SibSp,Parch,Cabin,Embarked,Ticket_prefix,Age_binned,Fare_binned
0,1,3,male,1,0,0,S,A/5,"(20, 25]","(0.0, 10.0]"
1,2,1,female,1,0,1,C,PC,"(35, 40]","(70.0, 80.0]"
2,3,3,female,0,0,0,S,STON/O2.,"(25, 30]","(0.0, 10.0]"
3,4,1,female,1,0,1,S,None,"(30, 35]","(50.0, 60.0]"
4,5,3,male,0,0,0,S,None,"(30, 35]","(0.0, 10.0]"

In [15]:
test.head()

,PassengerId,Pclass,Sex,SibSp,Parch,Cabin,Embarked,Ticket_prefix,Age_binned,Fare_binned
0,892,3,male,0,0,0,Q,None,"(30.0, 35.0]","(0.0, 10.0]"
1,893,3,female,1,0,0,S,None,"(45.0, 50.0]","(0.0, 10.0]"
2,894,2,male,0,0,0,Q,None,"(60.0, 65.0]","(0.0, 10.0]"
3,895,3,male,0,0,0,S,None,"(25.0, 30.0]","(0.0, 10.0]"
4,896,3,female,1,1,0,S,None,"(20.0, 25.0]","(10.0, 20.0]"

### One hot Encoding

### Plan :
See if I leave p class as labels of 1,2,3 the prediction will get be weight by the number that is meant for class representation.
[AAh! This is called natural ordered relationships. Explained in the medium article below] 

Things I wanna do 
1. One Hot: Passenger Class 
1. One Hot: Sex
1. One Hot: Spouse and sibling 
1. One Hot: Parent and Child
1. One Hot: Embarkment
1. Cabin detail (Present/Absent)
1. Embarked
1. Ticket classification based on pre text
1. Fare Binning ?
1. Age Binning ? (6 width)

Thing I need to read on is label encoding vs one hot encoding impact on category prediction ML model.
<a href='https://medium.com/@michaeldelsole/what-is-one-hot-encoding-and-how-to-do-it-f0ae272f1179'>A good Medium Article on this.</a>

### Performing 1-7:

In [ ]:
Pclass_ohe = pd.get_dummies(train['Pclass'])
Sex_ohe = pd.get_dummies(train['Sex'])
SibSp_ohe = pd.get_dummies(train['SibSp'])
Parch_ohe = pd.get_dummies(train['Parch'])
Embarked_ohe = pd.get_dummies(train['Embarked'])
train_ohe =pd.concat([train[['PassengerId', 'Survived']],Pclass_ohe,train[['Name']],Sex_ohe, train[['Age',]],SibSp_ohe,Parch_ohe, train[['Ticket', 'Fare','Cabin']],Embarked_ohe],axis=1)
train_ohe
train_ohe.columns=['PassengerId','Survived','Pclass_1','Pclass_2','Pclass_3','Name','female','male','Age','SibSp_0','SibSp_1','SibSp_2','SibSp_3','SibSp_4','SibSp_5','SibSp_8','Parch_0','Parch_1','Parch_2','Parch_3','Parch_4','Parch_5','Parch_6','Ticket','Fare','Cabin','Boarded_C','Boarded_Q','Boarded_S','Boarded_unknown']

In [ ]:
Age_ohe = pd.get_dummies(train['Age_binned'])