##### Question Section
Questions to study ->
Can I do half the data under one model and the remaining half of the data under another model and then ensemble the data?

For example, Age will be a U-curve, so using polynomial modelling for it is accurate, 
where as, we have seen fare to be linear, so using MLR for linear 
and using Random forest for Categorical. This would yield best results?? What kind of limitations does this idea have ?

## Steps :

1. Select relevent columns
1. Make Dummy Variables (OHE)
1. train validation split (since we already have test set)
1. Modelling
1. Tune model using GridsearchCV
1. Test ensambles

Select from the following Models:
1. decision trees
1. Naive Bayers
1. Linear Discriminant Analysis
1. K-nearest Neighbour
1. Logistic Regression
1. Neural Networks 
1. Support Vector Machin

In [1]:
import pandas as pd
import numpy as np

### Importing Clean Data

In [25]:
train = pd.read_csv("train_clean.csv")
test =  pd.read_csv("test_clean.csv")

#### 1. Selecting Relevent Columns

In [26]:
train.drop(['PassengerId','Unnamed: 0','Name','Ticket','Ticket_num','Age','Fare'],inplace=True,axis=1)
test.drop(['PassengerId','Unnamed: 0','Name','Ticket','Ticket_num','Age','Fare'],inplace=True,axis=1)

In [27]:
print(train.shape)
train.head()

(891, 10)

,Survived,Pclass,Sex,SibSp,Parch,Cabin,Embarked,Ticket_prefix,Age_binned,Fare_binned
0,0,3,male,1,0,0,S,A/5,"(20, 25]","(0.0, 10.0]"
1,1,1,female,1,0,1,C,PC,"(35, 40]","(70.0, 80.0]"
2,1,3,female,0,0,0,S,STON/O2.,"(25, 30]","(0.0, 10.0]"
3,1,1,female,1,0,1,S,None,"(30, 35]","(50.0, 60.0]"
4,0,3,male,0,0,0,S,None,"(30, 35]","(0.0, 10.0]"

In [28]:
print(test.shape)
test.head()

(418, 9)

,Pclass,Sex,SibSp,Parch,Cabin,Embarked,Ticket_prefix,Age_binned,Fare_binned
0,3,male,0,0,0,Q,None,"(30.0, 35.0]","(0.0, 10.0]"
1,3,female,1,0,0,S,None,"(45.0, 50.0]","(0.0, 10.0]"
2,2,male,0,0,0,Q,None,"(60.0, 65.0]","(0.0, 10.0]"
3,3,male,0,0,0,S,None,"(25.0, 30.0]","(0.0, 10.0]"
4,3,female,1,1,0,S,None,"(20.0, 25.0]","(10.0, 20.0]"

#### 2. Making Dummy Variables /OHE

See if I leave p class as labels of 1,2,3 the prediction will get be weight by the number that is meant for class representation.
[AAh! This is called natural ordered relationships. Explained in the medium article below] 

Things I wanna do 
1. One Hot: Passenger Class 
1. One Hot: Sex
1. One Hot: Spouse and sibling 
1. One Hot: Parent and Child
1. One Hot: Embarkment
1. Cabin detail (Present/Absent)
1. Embarked
1. Ticket classification based on pre text
1. Fare Binning ?
1. Age Binning ? (5 width)

Thing I need to read on is label encoding vs one hot encoding impact on category prediction ML model.
<a href='https://medium.com/@michaeldelsole/what-is-one-hot-encoding-and-how-to-do-it-f0ae272f1179'>A good Medium Article on this.</a>

In [30]:
train_dum = pd.get_dummies(train)
test_dum = pd.get_dummies(test)

#### 3. Train - Validation Splitting

In [31]:
from sklearn.model_selection import train_test_split

In [39]:
X = train_dum.drop(['Survived'],axis=1)
y = train_dum['Survived'].values

In [41]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=np.random)

#### 4. Modelling

In [79]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

cross_val_score(rf,X_train,y_train,scoring='neg_mean_absolute_error')

array([-0.22377622, -0.22377622, -0.14788732, -0.26056338, -0.18309859])

In [80]:
rf.score(X_train,y_train)

0.9339887640449438

In [82]:
rf.score(X_valid,y_valid)

0.8156424581005587

__KNN - Classifier__

In [ ]:
Ks = 10
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
      
    KNN = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat=KNN.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)

    
    print(yhat==y_test)
    
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0]) #what is this?

# mean_acc
std_acc